#eat {
  box-sizing: border-box;
  width: 50%;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 500px;
  
  .eat-info {
    background-color: rgba($color: #0074D9, $alpha: 1.0);
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 305px;
  }
}