#eat {
  box-sizing: border-box;
  
  .eat-info {
    opacity: 0.5;
    background-color: rgba($color: #0074D9, $alpha: 1.0);
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 305px;
    max-width: 500px;
    margin: auto;
  }
}