#fight {
  box-sizing: border-box;
  width: 50%;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 500px;
  
  .fight-info {
    background-color: #d87518;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 305px;
  }
}