#sleep {
  box-sizing: border-box;
  
  .sleep-info {
    opacity: 0.5;
    background-color: #AAAAAA;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 305px;
    max-width: 500px;
    margin: auto;
  }
}